body {
    padding: 1em;
}

button {
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 8px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: lightgrey;
    border: 1px solid grey;
}

button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

h1 {
    font-size: 200%;
}

hr {
    clear: left;
    border : 1px solid grey;
}

.new-line {
    clear: left;
}

#game-table {
    margin:1em;
    padding: 1em;
    display: inline-block;
    border: black 5px solid;
    border-radius: 10px;
    background-color: forestgreen;
}